<p-messages [enableService]="true" [closable]="true"></p-messages>

<div class="grid">
	<div class="col-12">
		<div class="card">
			<p-dataView #dv [value]="products" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
				
				<ng-template let-product pTemplate="gridItem">
					<div class="col-12 md:col-4">
						<div class="card m-3 border-1 surface-border">
							<div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
								<div class="flex align-items-center">
									<i class="pi pi-tag mr-2"></i>
									<span class="font-semibold">{{product.category}}</span>
								</div>
								<p-tag value="{{product.status.toUpperCase()}}" [rounded] = "true" severity="{{product.status === 'Out of Stock' ? 'danger' : 'success'}}"></p-tag>
							</div>
							<div class="flex flex-column align-items-center text-center mb-3">
                                <a [routerLink]="['/product', product.id]">
                                <img [src]="'assets/products/' + product.image" [alt]="product.name" class="w-9 shadow-2 my-3 mx-0"/>

                                </a>
								<div class="text-2xl font-bold">{{product.name}}</div>
							</div>
							<div class="flex align-items-center justify-content-between">
								<span class="text-2xl font-semibold">${{product.price | number:'1.0-0'}}</span>
								<!-- <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-info p-button-outlined" ></p-button> -->
								<p-button icon="pi pi-shopping-cart" styleClass="p-button-rounded" [disabled]="product.status === 'Out of Stock'" (click)="addToCart(product)"></p-button>
							</div>
							
						</div>
					</div>
				</ng-template>
			</p-dataView>
		</div>
	</div>

</div>
