
<div class="flex flex-wrap ml-8 mr-8">
  <article
    class="w-full mt-8 xl:mt-0 xl:mb-0 xl:w-8 flex flex-column flex-order-1 xl:flex-order-0 justify-content-center align-items-center xl:align-items-start"
  >
  
    <h2 class="font-bold text-4xl sm:text-7xl mt-0 mb-4" style="font-family: 'Playfair Display';">
      Chagall, Master <br />
      Drawings
    </h2>
  </article>
  <div
    class="w-full xl:w-4 relative flex justify-content-center align-items-center shadow-7"
  >
    <img src="assets/main.jpg" alt="Image"  class="w-full"/>
  </div>
</div>