<p-messages [enableService]="true" [closable]="true"></p-messages>

<div class="ng-star-inserted">
  <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="grid">
      <div class="col-12 lg:col-6">
        <div class="flex">
          <div>
            <img
              src="assets/products/{{product.image}}"
              class="w-full"
            />
          </div>
 
        </div>
      </div>
      <div class="col-12 lg:col-6 py-5 lg:py-3 lg:pl-5">
        <div class="flex align-items-center justify-content-between mb-4">
          <span class="text-7xl font-medium text-900"
            >{{product.name}}</span
          ><span class="text-3xl font-medium text-900">${{product.price | number:'1.0-0'}}</span>
        </div>
        <p class="p-0 mt-0 mb-5 line-height-3 text-700 text-2xl">
          {{product.description}}
        </p>
        
        
        <button
          pbutton=""
          pripple=""
          icon="pi pi-shopping-cart"
          label="Add to Cart"
          class="p-element p-ripple w-full mb-5 p-button p-component"
          (click)="addToCart(product)"
          [disabled]="product.status === 'Out of Stock'"
        >
          <span
            class="p-button-icon p-button-icon-left pi pi-shopping-cart"
            aria-hidden="true"
          ></span
          ><span class="p-button-label">Add to Cart</span
          ><span class="p-ink"></span>
        </button>
      </div>
    </div>
  </div>
</div>
