<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
          
            <p-table #dt [value]="orders" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"  selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Products</h5>
                       
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                   
                        <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
                        <th pSortableColumn="category">Total <p-sortIcon field="category"></p-sortIcon></th>
                        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                        <th pSortableColumn="status">Customer Name <p-sortIcon field="status"></p-sortIcon></th>
                        <th pSortableColumn="status">Customer Email <p-sortIcon field="status"></p-sortIcon></th>
                        <th pSortableColumn="status">Customer Address <p-sortIcon field="status"></p-sortIcon></th>
                        <th pSortableColumn="status">Customer Phone <p-sortIcon field="status"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr>
                  
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                            {{order.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Date</span>
                            {{order.order_date}}
                        </td>
                      
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Total</span>
                            {{order.order_total | currency:'USD'}}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span [class]="'product-badge status-' + (order.order_status ? order.order_status.toLowerCase().split(' ').join('') : '')" #orderStatus>{{order.order_status}}</span>
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Customer Name</span>
                            {{order.customer_name }}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Customer Email</span>
                            {{order.customer_email }}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Customer Address</span>
                            {{order.customer_address }}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Customer Phone</span>
                            {{order.customer_phone }}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(order)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- <p-dialog [(visible)]="orderDialog" [style]="{width: '450px'}" header="order Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="order.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !order.name}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !order.name">Name is required.</small>
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="order.description" required rows="3" cols="20"></textarea>
                </div>
                <div class="field">
                    <label for="status">Inventory Status</label>
                    <p-dropdown [(ngModel)]="order.status" inputId="status" optionValue="label" [options]="statuses" placeholder="Select">
                        <ng-template pTemplate="selectedItem">
                            <span *ngIf="order && order.status" [class]="'product-badge status-' + product.status.toString().toLowerCase()">{{product.status}}</span>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="field">
                    <label class="mb-3">Category</label>
                    <div class="formgrid grid">
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="category1" name="category" value="Accessories" [(ngModel)]="product.category"></p-radioButton>
                            <label for="category1">Sculpture</label>
                        </div>
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="product.category"></p-radioButton>
                            <label for="category2">Ceramic</label>
                        </div>
                   
                    </div>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="price">Price</label>
                        <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                    </div>
                    <div class="field col">
                        <label for="quantity">Quantity</label>
                        <p-inputNumber id="quantity" [(ngModel)]="product.quantity"></p-inputNumber>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
            </ng-template>
        </p-dialog> -->

       
    </div>
</div>
